doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css')
  body
    block content
    script(src='/javascripts/bundle.js')